<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 sideBar">
      @for (device of processedData?.devices; track device) {
        <h5 class="deviceNameSideBar">{{ device.name ?? '' }}</h5>
        @for (component of device.components; track component) {
          <ul>
            <!-- FIXME: ESLint gives an accessability warning -->
            <li (click)="openDeviceComponent(device, component)">
              {{ component.name || '' }}
            </li>
          </ul>
        }
      }
    </div>
    <div class="col-md-9">
      @if (selectedDeviceName && (selectedComponentName?.length ?? 0) > 0) {
        <div class="row main-head">
          <div class="col-md-6">
            <h4>
              Device Name:
              <span class="deviceName">{{ selectedDeviceName }}</span>
            </h4>
          </div>
          <div class="col-md-6">
            <h4>
              Component Name:
              <span class="componentName"> {{ selectedComponentName }}</span>
            </h4>
          </div>
        </div>
      }

      @for (
        categoryIterable of [
          selectedComponentEventsIterate,
          selectedComponentSamplesIterate,
          selectedComponentConditionIterate
        ];
        track categoryIterable
      ) {
        @if (categoryIterable && categoryIterable.length > 0) {
          <div class="row commonP">
            <h4 class="commonH">
              {{ ['Events', 'Samples', 'Condition'][$index] }}
            </h4>
            @for (dataItem of categoryIterable; track dataItem) {
              <table class="table table-hover table-bordered">
                <!-- <thead class="thead-dark">
                <tr>
                  <th scope="col" colspan="2">{{ dataItem.value }}</th>
                </tr>
              </thead> -->
                @for (
                  attributePair of dataItem.getFieldValues();
                  track attributePair
                ) {
                  <tbody class="thead-light">
                    <tr>
                      <td>{{ SMSDataItemInterface.fieldNames[$index] }}</td>
                      <td>{{ attributePair }}</td>
                    </tr>
                  </tbody>
                }
              </table>
            }
          </div>
        }
      }
    </div>
  </div>
</div>
