<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 sideBar">
      @for (device of processedData?.devices; track device) {
        <h5 class="deviceNameSideBar">{{ device.name ?? '' }}</h5>
        @for (component of device.components; track component) {
          <ul>
            <li (click)="openDeviceComponent(device, component)">
              {{ component.name || '' }}
            </li>
          </ul>
        }
      }
    </div>
    <div class="col-md-9">
      @if (selectedDeviceName && selectedComponentName.length > 0) {
        <div class="row main-head">
          <div class="col-md-6">
            <h4>
              Device Name:
              <span class="deviceName">{{ selectedDeviceName }}</span>
            </h4>
          </div>
          <div class="col-md-6">
            <h4>
              Component Name:
              <span class="componentName"> {{ selectedComponentName }}</span>
            </h4>
          </div>
        </div>
      }

      @if (
        selectedComponentEventsIterate &&
        selectedComponentEventsIterate.length > 0
      ) {
        <div class="row commonP">
          <h4 class="commonH">Events</h4>
          @for (dataItem of selectedComponentEventsIterate; track dataItem) {
            <table class="table table-hover table-bordered">
              <!-- <thead class="thead-dark">
                <tr>
                  <th scope="col" colspan="2">{{ dataItem.value }}</th>
                </tr>
              </thead> -->
              @for (attributePair of dataItem; track attributePair) {
                <tbody class="thead-light">
                  <tr>
                    <td>{{ attributePair.key }}</td>
                    <td>{{ attributePair.value }}</td>
                  </tr>
                </tbody>
              }
            </table>
          }
        </div>
      }
      @if (
        selectedComponentSamplesIterate &&
        selectedComponentSamplesIterate.length > 0
      ) {
        <div class="row commonP">
          <h4 class="commonH">Samples</h4>
          @for (dataItem of selectedComponentSamplesIterate; track dataItem) {
            <table class="table table-hover table-bordered">
              <!-- <thead class="thead-dark">
                <tr>
                  <th scope="col" colspan="2">{{ dataItem.value }}</th>
                </tr>
              </thead> -->
              @for (attributePair of dataItem; track attributePair) {
                <tbody class="thead-light">
                  <tr>
                    <td>{{ attributePair.key }}</td>
                    <td>{{ attributePair.value }}</td>
                  </tr>
                </tbody>
              }
            </table>
          }
        </div>
      }
      @if (
        selectedComponentConditionIterate &&
        selectedComponentConditionIterate.length > 0
      ) {
        <div class="row commonP">
          <h4 class="commonH">Condition</h4>
          @for (dataItem of selectedComponentConditionIterate; track dataItem) {
            <table class="table table-hover table-bordered">
              <!-- <thead class="thead-dark">
                <tr>
                  <th scope="col" colspan="2">{{ dataItem.value }}</th>
                </tr>
              </thead> -->
              @for (attributePair of dataItem; track attributePair) {
                <tbody class="thead-light">
                  <tr>
                    <td>{{ attributePair.key }}</td>
                    <td>{{ attributePair.value }}</td>
                  </tr>
                </tbody>
              }
            </table>
          }
        </div>
      }
    </div>
  </div>
</div>
