<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 sideBar">
      @for (item of devices?.DeviceStream; track item) {
      <h5 class="deviceNameSideBar">{{ item.$.name }}</h5>
      @for (x of item.ComponentStream; track x) {
      <ul>
        <li (click)="openDeviceComponent(item, x)">{{ x.$.name }}</li>
      </ul>

      } }
    </div>
    <div class="col-md-9">
      @if (selectedDeviceName && selectedComponentName.length > 0 ) {
      <div class="row main-head" >
        <div class="col-md-6">
           <h4>Device Name: <span class="deviceName">{{ selectedDeviceName }}</span></h4>
        </div>
        <div class="col-md-6">
          <h4>Component Name: <span class="componentName"> {{ selectedComponentName }}</span></h4>
        </div>
      </div>
    }

      @if (selectedComponentEventsIterate && selectedComponentEventsIterate.length > 0 ) {
      <div class="row commonP">
        <h4 class="commonH">Events</h4>
        @for (eventName of selectedComponentEventsIterate; track eventName) {

          @for (eventInner of eventName; track eventInner) {
        <table class="table table-hover table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col" colspan="2">{{ eventInner._ }}</th>
            </tr>
          </thead>
          @for (eventKey of eventInner.$ | keyvalue; track eventKey) {
          <tbody class="thead-light">
            <tr>
              <td>{{ eventKey.key }}</td>
              <td>{{ eventKey.value }}</td>
            </tr>
          </tbody>
        }
        </table>

        }
      }
      </div>

      }
      @if (selectedComponentSamplesIterate  && selectedComponentSamplesIterate.length > 0 ) {
      <div class="row commonP">
        <h4 class="commonH">Samples</h4>
        @for (eventName of selectedComponentSamplesIterate; track eventName) {
          @for (eventInner of eventName; track eventInner) {
        <table class="table table-hover table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col" colspan="2">{{ eventInner._ }}</th>
            </tr>
          </thead>
          @for (eventKey of eventInner.$ | keyvalue; track eventKey) {
          <tbody class="thead-light">
            <tr>
              <td>{{ eventKey.key }}</td>
              <td>{{ eventKey.value }}</td>
            </tr>
          </tbody>
        }
        </table>

        }
      }
      </div>

      }
      @if (selectedComponentConditionIterate && selectedComponentConditionIterate.length > 0) {
      <div class="row commonP">
        <h4 class="commonH">Condition</h4>
        @for (eventName of selectedComponentConditionIterate; track eventName) {
        <table class="table table-hover table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col" colspan="2">{{ eventName._ }}</th>
            </tr>
          </thead>
          @for (eventKey of eventName.$ | keyvalue; track eventKey) {
          <tbody class="thead-light">
            <tr>
              <td>{{ eventKey.key }}</td>
              <td>{{ eventKey.value }}</td>
            </tr>
          </tbody>
        }
        </table>

        }
      </div>

      }
    </div>
  </div>
</div>
